networkx
numpy
pandas
scikit-learn
scipy
statsmodels
plotly
dash
fastf1
gunicorn
psycopg2-binary
dash-bootstrap-components
python-dotenv
pyclipper
sqlalchemy
dash-extensions
gevent
dash-bootstrap-components[pandas]
orjson
